<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
        <!-- 项目名称 -->
        <property name="PROJECT_NAME" value="poseidon" />


        <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
        <property name="LOG_HOME" value="${log4j.root}/poseidon-logs/" />

        <!-- 彩色日志 -->
        <!-- 彩色日志依赖的渲染类 -->
        <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
        <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
        <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
        <!-- 彩色日志格式 -->
        <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39} [%file:%line]){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
        <!-- 控制台输出 -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <!--<withJansi>true</withJansi>-->
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %file文件名 %line行号 %msg：日志消息，%n是换行符-->
    <!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %highlight([%-5level] %logger{50} [%file:%line] - %msg%n)</pattern>-->
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>


        <!-- 按照每天生成日志文件 -->
        <appender name="SYSTEM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 过滤器，只打印ERROR级别的日志 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <FileNamePattern>${LOG_HOME}/${PROJECT_NAME}.system-dev.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>15</MaxHistory>
                <!--日志文件最大的大小-->
                <MaxFileSize>10MB</MaxFileSize>
            </rollingPolicy>


            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] %logger{50} [%file:%line] - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <logger name="system_error" additivity="true">
            <appender-ref ref="SYSTEM_FILE"/>
        </logger>



        <!-- 设置Spring&mybatis&thymeleaf日志输出级别 -->
       <logger name="org.springframework" level="WARN" />
        <logger name="org.hibernate" level="WARN" />
       <logger name="org.mybatis" level="WARN" />
        <logger name="org.apache.ibatis" level="WARN" />
        <logger name="org.thymeleaf" level="WARN" />
        <logger name="com.baomidou.mybatisplus" level="WARN" />

        <logger name="com.dcim.medusha" level="INFO" />

        <!-- 生产环境下的日志配置 -->
        <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SYSTEM_FILE" />
    </root>
</configuration>
